In [9]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('temps.csv')

In [13]:
df.head()

   year  month  day  week  temp_2  temp_1  average  actual  friend
0  2019      1    1   Fri      45      45     45.6      45      29
1  2019      1    2   Sat      44      45     45.7      44      61
2  2019      1    3   Sun      45      44     45.8      41      56
3  2019      1    4   Mon      44      41     45.9      40      53
4  2019      1    5  Tues      41      40     46.0      44      41

In [14]:
#To check the total number of columns
df.columns

Index(['year', 'month', 'day', 'week', 'temp_2', 'temp_1', 'average', 'actual',
       'friend'],
      dtype='object')

In [15]:
#To check the null values
df.isnull().sum()

year       0
month      0
day        0
week       0
temp_2     0
temp_1     0
average    0
actual     0
friend     0
dtype: int64

One hot encoding
One hot encoding is a technique that we use to represent categorical variables as numerical values in a machine learning model.

get_dummies ==>
The get_dummies function is used to convert categorical variables into dummy or indicator variables

In [16]:
df = pd.get_dummies(df)

In [17]:
df

,year,month,day,temp_2,temp_1,average,actual,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2019,1,1,45,45,45.6,45,29,1,0,0,0,0,0,0
1,2019,1,2,44,45,45.7,44,61,0,0,1,0,0,0,0
2,2019,1,3,45,44,45.8,41,56,0,0,0,1,0,0,0
3,2019,1,4,44,41,45.9,40,53,0,1,0,0,0,0,0
4,2019,1,5,41,40,46.0,44,41,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,2019,12,27,42,42,45.2,47,47,0,0,0,0,0,1,0
344,2019,12,28,42,47,45.3,48,58,0,0,0,0,0,0,1
345,2019,12,29,47,48,45.3,48,65,0,0,0,0,1,0,0
346,2019,12,30,48,48,45.4,57,42,1,0,0,0,0,0,0
347,2019,12,31,48,57,45.5,40,57,0,0,1,0,0,0,0

In [19]:
#Shape of features after one hot encoding
df.shape

(348, 15)

Define dependent and independent feature.

In [28]:
#dependent variable
y = df.iloc[:,6]

In [29]:
y

0      45
1      44
2      41
3      40
4      44
       ..
343    47
344    48
345    48
346    57
347    40
Name: actual, Length: 348, dtype: int64

In [44]:
#independent variable
x = df.iloc[:,[0,1,2,3,4,5,7,8,9,10,11,12,13,14]]

In [45]:
x

,year,month,day,temp_2,temp_1,average,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2019,1,1,45,45,45.6,29,1,0,0,0,0,0,0
1,2019,1,2,44,45,45.7,61,0,0,1,0,0,0,0
2,2019,1,3,45,44,45.8,56,0,0,0,1,0,0,0
3,2019,1,4,44,41,45.9,53,0,1,0,0,0,0,0
4,2019,1,5,41,40,46.0,41,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,2019,12,27,42,42,45.2,47,0,0,0,0,0,1,0
344,2019,12,28,42,47,45.3,58,0,0,0,0,0,0,1
345,2019,12,29,47,48,45.3,65,0,0,0,0,1,0,0
346,2019,12,30,48,48,45.4,42,1,0,0,0,0,0,0
347,2019,12,31,48,57,45.5,57,0,0,1,0,0,0,0

Train Test Split

In [47]:
from sklearn.model_selection import train_test_split

In [72]:
X_train , x_test , Y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [73]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', Y_train.shape)
print('Testing Features Shape:', x_test.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (261, 14)
Training Labels Shape: (261,)
Testing Features Shape: (87, 14)
Testing Labels Shape: (87,)

Traning the forest

In [74]:
from sklearn.ensemble import RandomForestRegressor

In [75]:
regressor = RandomForestRegressor(n_estimators=1000,random_state=42)

In [77]:
regressor.fit(X_train,Y_train)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [78]:
#prediction
y_pred = regressor.predict(x_test)

In [79]:
y_pred

array([68.546, 60.784, 51.793, 60.927, 65.881, 70.528, 80.896, 78.619,
       62.719, 73.128, 63.602, 72.64 , 38.659, 62.429, 71.211, 56.202,
       60.822, 56.842, 57.348, 76.862, 64.103, 54.39 , 65.619, 62.349,
       58.085, 52.536, 67.117, 47.089, 61.673, 78.307, 73.671, 64.337,
       55.865, 80.073, 73.967, 61.824, 53.672, 50.83 , 68.275, 43.457,
       70.446, 57.512, 76.381, 42.691, 61.097, 73.52 , 52.555, 79.064,
       54.275, 42.529, 46.701, 42.727, 64.663, 65.748, 74.633, 61.44 ,
       55.451, 59.685, 53.377, 59.33 , 66.457, 50.433, 60.308, 70.522,
       59.998, 58.837, 71.399, 69.518, 75.912, 40.739, 78.394, 56.005,
       60.448, 49.8  , 54.326, 63.446, 43.876, 76.366, 48.199, 52.312,
       53.308, 68.748, 73.033, 73.27 , 63.059, 58.739, 46.929])

In [81]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [83]:
mean_squared_error(y_test,y_pred)

25.399714471264364

In [84]:
median_absolute_error(y_test,y_pred)

3.1779999999999973

Visualising the single decision tree